extends layout

block content
    .main-wrapper
        .container
            .row
                .col-md-8.col-md-offset-2
                    .blog-posts
                        //- if options.justVizited != ''
                        //-   .col-md-12
                        //-     .vizited-post
                        //-       h4 #{options.vizited.title}
                        .col-md-12
                            for post in options.posts
                                .post-item
                                    .post-header
                                        .post-options
                                        a.post-img(href="#") <img src="/public/images/post/#{post.image}">
                                        .post-title
                                            h3 <a href="/#{post.id}">#{post.title}</a>
                                            span.data  <i class="fa fa-calendar-check-o" aria-hidden="true"></i> #{post.date}
                                            .dop-opt
                                                if post.translation
                                                    .translate.dop-item
                                                        span Перевод
                                                .tutorial.dop-item
                                                    span Туториал
                                    .post-content
                                        p #{post.description}
                                    a.read-next(href="/#{post.id}") Читать далее
                                    .post-footer
                                        a.like(href="#") <i class="fa fa-heart-o" aria-hidden="true"></i> <span>#{post.likes}</span>
                                        span.watches <i class="fa fa-eye" aria-hidden="true"></i> <span>#{post.watches}</span>
                                        .tags
                                            ul
                                                each tag in post.tags
                                                    li <a href="/#{tag}"><i class="fa fa-hashtag" aria-hidden="true"></i> #{tag}</a>
